* {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: 'Courier New', Courier, monospace;
	background-color: whitesmoke;
	color: #444;
	overflow: hidden;
}

.container {
	width: 80%;
	margin: 5rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-click-sec {
	width: 100vw;
}

.btn-sec {
	display: flex;
	gap: 5rem;
	justify-content: space-evenly;
}

.btn-sec .btn {
	font-family: inherit;
	font-size: 2rem;
	font-weight: bold;
	background-color: rgb(255, 0, 51);
	border: 2px solid rgb(255, 0, 51);
	color: #fff;
	padding: 5px 20px;
	border-radius: 0.4rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}

.btn-sec .btn:hover {
	background-color: transparent;
	color: rgb(255, 0, 51);
}

.modal-section {
	width: 50vw;
	height: 50vh;
	background-color: #fff;
	border-radius: 1.5rem;
	padding: 2rem;
	margin-top: 5rem;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
	text-align: center;
	z-index: 3;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	transform: scale(0);
}

.modal-section span {
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
	font-size: 1.5rem;
	transition: all 0.3s ease-in-out;
}

.modal-section span:hover {
	transform: rotate(180deg);
}

.modal-section h2 {
	margin-top: 2rem;
	font-size: 2rem;
}

.modal-section p {
	margin-top: 2rem;
	font-size: 1.2rem;
	text-align: justify;
}

.overlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 0, 51, 0.808);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	transform: scale(0);
}
